[Unit]
Description=Camera Privacy Service
After=network-online.target network.target
Wants=network-online.target

[Service]
ExecStart=/usr/bin/python3 /root/cam-privacy/cam-privacy.py
Type=simple
# RemainAfterExit=yes
Restart=always
KillMode=process

[Install]
WantedBy=multi-user.target

